<p>
    <a class="md:text-lg" title="Profil linkedin" href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
    <a class="mx-2 sm:mx-4 md:text-lg" title="Repository github" href="#"><i class="fab fa-github-square"></i> Github</a>
    <a class="md:text-lg" title="M'envoyer un email" href="#"><i class="far fa-envelope"></i> Contact</a>
</p>