<section id="hero" class="section mt-32 md:mt-16 pt-24">
    <h1 class="site-title text-primary uppercase">{{ job_dev }}</h1>

    <div class="mt-4 md:mt-0">
        <p class="md:text-2xl mb-2">Wojciech Pastuszko</p>
        {# Réseau social + contact #}
        {% include 'front/element/_link-social.html.twig' %}
        {# Réseau social + contact #}
    </div>

    <p class="mt-16 italic">
        Bonjour, je suis Geoffroy, <strong>{{ job_dev }}</strong> spécialisé en <strong>php/symfony</strong> situé à Réalmont dans le <strong>Tarn</strong>. <br>
        Je suis actuellement à la <strong>recherche d'un emploi</strong> en région <strong>Occitanie</strong>.
    </p>
</section>