<section id="hero" class="section mt-32 md:mt-16 pt-24">
    <h1 class="site-title text-primary uppercase">{{ job_dev }}5</h1>

    <div class="mt-4 md:mt-0">
        <p class="md:text-2xl mb-2"></p>
        {# Réseau social + contact #}
        {% include 'front/element/_link-social.html.twig' %}
        {# Réseau social + contact #}
    </div>

    <p class="mt-16 italic">
        Witam, jestem Wojciech, <strong>{{ job_dev }}</strong> specjalizujący się w <b>php/symfony</b> z siedzibą w Tarnowie.
        Obecnie <b>szukam pracy</b>.
    </p>
</section>