<footer id="site-footer" class="gradient-footer pt-12 pb-8">
    <div class="container text-center">
        <h4 class="text-primary text-display text-xl md:text-2xl font-bold">Wojciech Pastuszko</h4>
        <p class="mb-4">{{ job_dev }}</p>

        {% include 'front/element/_link-social.html.twig' %}

        <p class="mt-4">2021 <i class="far fa-copyright"></i> Tous droits réservés</p>
    </div>
</footer>